<div class="container">
<h2>Término(s) buscados</h2>
<h3 id="palabras" name="palabras"><%= @palabras %></h3>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
        <%= link_to 'Atrás', root_path, class: "btn btn-default" %>
        <div class="list-group">
            <div  class="list-group-item active">
            <h4 class="list-group-item-heading text-center">Resultados</h4>
            </div>
	    <% if @textos %>
	    <% @textos.documentos.each do |texto| %>
            <a href=<%= "/descargas?descargar=#{texto}" %>  class="list-group-item">
            <h4 class="list-group-item-heading"><%= texto %></h4>
            <p class="list-group-item-text">Click para descargar</p>
            </a>
	    <% end %>
	    <% else %>
	    <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">No se pudo encontrar, trate con otra palabra</h4>
            </a>

	    <% end %>
        </div>
    </div>
    <div class="col-xs-2"></div>
</div>
