<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <h1>Printing Press</h1>
                <h4> with ES_Gutenberg</h4>
            </div>
            <br>
	    <%= form_tag("/busqueda", method: "get") do %>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." id="busqueda" name="busqueda" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="btnBusqueda"><div class="img-responsive"><%= image_tag('glyphicons/png/glyphicons-28-search.png')%></div></button>
                </span>
            </div>
        </div>
	<% end %>
        <div class="col-md-4"></div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="text-center">
            <h2>Top Búsquedas</h2>
        </div>
        <br>
         <ul class="list-group">
	   <% if @top_busquedas %>
	   <% @top_busquedas.each do |busqueda| %> 
           <a class="list-group-item text-center"><%= busqueda.palabra %></a>
           <% end %>
	   <% else %>
	   <a class="list-group-item text-center">No hay opciones</a>
	   <% end %>
        </ul>
    </div>
</div>
